/* merriweather-regular - latin */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/merriweather-v28-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/merriweather-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/merriweather-v28-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/merriweather-v28-latin-regular.woff') format('woff'), /* Modern Browsers */
            url('../fonts/merriweather-v28-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/merriweather-v28-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
    }
    /* merriweather-700 - latin */
    @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/merriweather-v28-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
            url('../fonts/merriweather-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
            url('../fonts/merriweather-v28-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
            url('../fonts/merriweather-v28-latin-700.woff') format('woff'), /* Modern Browsers */
            url('../fonts/merriweather-v28-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
            url('../fonts/merriweather-v28-latin-700.svg#Merriweather') format('svg'); /* Legacy iOS */
    }

html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    background-color: black;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.header-content {
    display: flex;
}

.header-list {
    list-style-type: none;
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-item:last-child{
    margin-right: 0;
}

.header-link {
    color: #fff;
    text-decoration: none;
}

